* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
p {
  margin: 16px 0;
}
/* Shared Style */
body {
  font-family: "Work Sans", sans-serif;
}
.linear-color {
  background-image: linear-gradient(to bottom, #f948b2, #8758f1);
  color: transparent;
  -webkit-background-clip: text;
}
.primary-color {
  color: #ff42a5;
}
.btn-primary {
  border-radius: 48px;
  padding: 21px 40px;
  background-color: #ff42a5;
  border: 0;
  margin-top: 40px;
}
.btn-secoundry {
  border-radius: 48px;
  background: #4ec5f7;
  padding: 21px 40px;
  border: 0;
  margin-top: 40px;
  margin-left: 24px;
}
.btn-anchor {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
/* Header Related Style */
/* Navbar Related Style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 240px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-bg {
  background: #fff;
}
.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo img {
  width: 85px;
  height: 40px;
}
.logo h1 {
  color: #0b0223;
  font-size: 45px;
  font-weight: 700;
}
.logo-text-color-change {
  color: #ff42a5;
}
nav div ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2vw;
}
nav ul li a {
  text-decoration: none;
}
.nav-inner {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 16px 24px;
}
.nav-inner a {
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  margin-right: 18px;
  cursor: pointer;
}
.youtube {
  color: red;
  margin-left: 24px;
}
/* Banner-Related Style */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 68px;
  background-image: url("../images/Group14.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 50%;
}
.banner-column-1 {
  padding-left: 240px;
}
.banner-column-1 h2 {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-column-1 h1 {
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.banner-column-1 p {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
  padding-left: 12px;
}
.banner-column-2 img {
  width: fit-content;
  padding-top: 20px;
  padding-right: 240px;
}

/* Gammer Section related Style */
.gamer-continer {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 55px 240px;
}
.gamer-column-2 {
  padding: 100px 0;
  direction: rtl;
}
.gamer-column-2 h1 {
  font-size: 48px;
  font-weight: 700;
}
.gamer-column-2 p {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.gamer-column-2 button {
  margin-top: 32px;
  margin-bottom: 24px;
}
.gamer-column-2 h3 {
  color: #534c64;
  font-size: 24px;
  font-weight: 500;
  line-height: 45px;
}
.gamer-column-2 q {
  color: #534c64;
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
}

/* Online Games Related Style */
.container {
  padding: 0 240px 120px 240px;
}
.section-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.section-description {
  text-align: center;
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 16px;
  margin-bottom: 45px;
}

/* Online Games Related Style */
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
.online-game-image {
  display: block;
  position: relative;
}
.online-game-image:hover .overlay {
  border-radius: 16px;
  border: 4px solid #ff42a5;
  opacity: 1;
  transition: 0.2s;
}
.overlay {
  position: absolute;
  top: 0;
  opacity: 0;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}
.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.content h1 i {
  margin-bottom: 16px;
  color: white;
}
.card-body p {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

/* Play Instantly Related Style */
.play-instantly-container {
  display: flex;
  align-items: center;
  gap: 265px;
}
.play-instantly-column-1 h1 {
  text-align: center;
  text-align: right;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}
.play-instantly-column-2 {
  position: relative;
}
.inner-image img {
  position: absolute;
  bottom: -100px;
  left: -100px;
  width: 310px;
  height: 360px;
}
.text-play-instantly {
  padding-left: 190px;
  direction: rtl;
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* Play Games related Style */

.play-games-container {
  display: flex;
  align-items: center;
  gap: 250px;
}
.play-games-column-1 {
  text-align: left;
  position: relative;
  left: 120px;
}
.play-games-column-1 h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}
.play-games-column-2 {
  position: relative;
}
.inner-games-image img {
  position: absolute;
  bottom: -50px;
  right: -100px;
  width: 310px;
  height: 360px;
}
.text-games-instantly {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* Carrers related Style */
.carrers::after {
  background-image: url("../images/Group20.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.careers-container {
  display: flex;
  align-items: center;
  background-color: #ff42a5;
  padding-top: 120px;
  padding-bottom: 120px;
  gap: 40px;
}
.careers-column-1 {
  width: 50%;
}
.careers-column-1 h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}
.careers-column-1 p {
  color: #fff;
  font-size: 18px;
  text-align: justify;
  font-weight: 400;
  line-height: 30px;
}
.inner-carrers-container {
  display: flex;
  justify-content: space-between;
}
.inner-carrers-container div {
  padding: 32px 0;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
}
.inner-link-container:hover {
  border-radius: 50px;
  background-color: #fff;
  border: 4px solid #f948b2;
  color: #f948b2;
  padding: 10px;
}
.carrers-button {
  border-radius: 48px;
  background: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: #f948b2;
  padding: 21px 40px;
  border: 0;
}

/* Importent Link related Style */
.importernt-link-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 120px 240px;
}
.importernt-link-container {
  flex: 0 0 calc(20% -20px);
}
.importernt-link-container img {
  width: 60px;
  height: 60px;
  padding-right: 10px;
}
.inner-link-container {
  display: flex;
  align-items: center;
}

/* Footer related Style */
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0b0223;
  padding: 120px 240px;
}
#footer-logo {
  color: white;
}
.footer-container nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
.footer-container nav ul li {
  list-style: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
}
.footer-container nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.footer-container nav ul li a i {
  font-size: 40px;
}
.copyright {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
  margin-top: -20px;
}

.hide {
  display: none;
}
@media screen and (max-width: 576px) {
  nav,
  nav div ul,
  .play-instantly-container,
  .careers-container {
    flex-direction: column;
    gap: 50px;
  }
  .banner-container,
  .play-games-container {
    flex-direction: column-reverse;
    gap: 50px;
  }
  nav,
  .banner-container,
  .banner-column-1,
  .gamer-continer,
  .gamer-column-2,
  .container,
  .play-instantly-container,
  .text-play-instantly,
  .play-games-container,
  .play-games-column-1,
  .careers-container,
  .importernt-link-container,
  .footer-container {
    padding: 10px;
    margin: 0;
  }
  .btn-secoundry {
    margin-left: 0;
    margin-top: 10px;
  }
  .banner-column-2 img,
  .gamer-column-1 img {
    width: 100%;
    padding: 0;
  }
  .gamer-continer,
  .card-container {
    grid-template-columns: 1fr;
  }
  .gamer-column-2,
  .play-instantly-column-1 h1,
  .play-instantly-column-1 p {
    text-align: center;
    direction: ltr;
    line-height: 30px;
  }
  .banner-column-1 h1,
  .play-games-column-1 h1 {
    font-size: 50px;
  }
  .gamer-column-2 h1,
  .play-instantly-column-1 h1,
  .play-games-column-1 h1 {
    font-size: 2rem;
    line-height: 40px;
  }
  .gamer-column-2 q,
  .section-title {
    font-size: 1rem;
  }
  .inner-image img {
    position: absolute;
    bottom: -20px;
    left: -20px;
    width: 30%;
    height: 30%;
  }
  .inner-games-image img {
    width: 30%;
    height: 30%;
    right: -20px;
    bottom: -20px;
  }
  .play-games-column-1 {
    left: 0;
  }
  .careers-container {
    margin-top: 30px;
  }
  .careers-column-1 {
    width: 100%;
  }
  .inner-carrers-container {
    display: none;
  }
  .importernt-link-container {
    justify-content: flex-start;
    margin-top: 30px;
  }
  .inner-link-container h2 {
    font-size: 12px;
  }
  .footer-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer-container nav ul {
    gap: 30px;
    justify-content: center;
  }
  .copyright {
    margin-top: 10px;
    text-align: center;
  }
}
